@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: #FFDBA9;
    --dark: #4F4B46;
    --white: #F1ECE5;
    --hover-color: rgb(238, 172, 172);
}
h1{
    font-weight: 700;
}
h3{
    font-weight: 600;
}
p{
    font-weight: 400;
}

body{
    background-color: var(--bg-color);
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signup-content{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark);
    border-radius: 5px;
    padding: 30px;
    max-width: 500px;
}

.signup-content h2{
    font-size: 36px;
    margin-bottom: 36px;
    color: var(--dark);
}

.signup-content form{
    display: flex;
    flex-direction: column;
    color: var(--dark);
    font-size: 16px;
}

.signup-content form input{
    margin-bottom: 14px;
    height: 28px;
    transition: 0.2s all ease-in-out;
    border-radius: 3px;
    padding: 2px 8px;
}
.signup-content form input[type = 'submit']{
    cursor: pointer;
    font-weight: 600;
}
.signup-content form input[type = 'submit']:hover{
    box-shadow: 0 1px 4px var(--dark);
}
.signup-content form input:focus:not([type = 'submit']){
    border: 1px solid var(--dark);
}
.gender{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gender input{
    margin-top: 16px;
}
.signup-content form p{
    font-size: 12px;
}