@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: #FFDBA9;
    --dark: #4F4B46;
    --white: #F1ECE5;
    --hover-color: rgb(238, 172, 172);
}
h1{
    font-weight: 700;
}
h3{
    font-weight: 600;
}
p{
    font-weight: 400;
}

body{
    background-color: var(--bg-color);
    min-height: 100vh;
    overflow-x: hidden;
}



#top-bar{
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
#top-bar form{
    display: flex;
    align-items: center;
}
#top-bar form input{
    border-bottom: 2px solid var(--dark);
    padding: 14px 3px;
    position: relative;
    background: transparent;
}
#top-bar form i{
    font-size: 20px;
    margin-left: -18px;
    font-weight: 700;
    color: var(--dark);
    cursor: pointer;
    z-index: 3;
    transition: 0.3s all ease-in-out;
}
#top-bar form i:hover{
    color: rgb(238, 172, 172);
}
#top-bar a{
    width: 100px;
    cursor: pointer;
}


#top-bar .profiles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 24px;
    color: var(--dark);
}
#top-bar .profiles > *{
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}
#top-bar .profiles > *:hover{
    color: var(--hover-color);

}




#nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid var(--dark);
    margin: 0 10%;
}
#nav-bar a{
    color: var(--dark);
    font-size: 16px;
    transition: 0.3s all ease-in-out;
}
#nav-bar a:hover{
    color: var(--hover-color);
}

#banner{
    max-height: 500px;
    margin: 0 10%;
    overflow: hidden;
}
#banner img{
    width: 100%;
    height: 100%;
    background-size: cover;
    margin-top: 20px;
}




.product{
    margin: 0 10%;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: flex-start;
}
.product img{
    max-width: 500px;
    cursor: pointer;
}


.product .side-info > *{
    margin-bottom: 20px;
    color: var(--dark);
}
.product .side-info h3{
    font-size: 52px;
}
.product .side-info select{
    display: block;
    height: 36px;
    width: 120px;
    cursor: pointer;
    transition: .3s all ease-in-out;
}
.product .side-info .size{
    display: flex;
    gap: 25px;
}
.product .side-info .size a{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: var(--dark);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    transition: .3s all ease-in-out;
}
.product .side-info button{
    display: block;
    cursor: pointer;
    height: 36px;
    width: 120px;
    transition: .3s all ease-in-out;
}
.product .side-info .size a:hover, .product .side-info select:hover, .product .side-info button:hover{
    box-shadow: 0 1px 5px var(--dark);
}



.product-details{
    padding: 50px 0;
    margin: 0 10%;
}

.product-details h2{
    font-size: 48px;
    margin-bottom: 50px;
    color: var(--dark);
    text-align: center;
}
.product-details p{
    font-size: 14px;
    color: var(--dark);
    font-weight: 400;
    margin-bottom: 10px;
}




#footer{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-size: 12px;
    color: var(--dark);
    margin: 0 10%;
    font-weight: 400;
    border-top: 1px solid var(--dark);
}